.root {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap: 1.2rem;

    &>div {
        &:nth-child(even) {
            .card:hover .cardContent svg {
                fill: #FF7A00;
            }
        }
        &:nth-child(odd) {
            .card:hover .cardContent svg {
                fill: #FFB800;
            }
        }
    }

    .card {
        position: relative;
        height: 100%;
        padding: 2.5rem;
        transition: all 0.5s;
        z-index: 1;

        &:hover, &.activeCard {
            .cardActive {
                opacity: 1;
            }

            .cardContent {
                transform: translateZ(30px);
                p, strong {
                    color: #FFFFFF !important;
                }
                svg {
                    fill: #FFFFFF !important;
                }
            }
        }

        .cardActive,
        .cardInactive {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            transition: opacity 0.75s;
            border-radius: 1.3rem;

            &.cardActive {
                background: linear-gradient(315deg, #FFB800 0%, #FF7A00 100%);
                box-shadow: rgba(255, 184, 0, 0.2) 0px 20px 40px 0px, rgba(255, 255, 255, 0.5) -2px 2px 2px 0px inset;
                opacity: 0;
                z-index: 1;
            }

            &.cardInactive {
                background: #FFFFFF;
                box-shadow: rgba(0, 0, 0, 0.05) 0px 20px 40px 0px, rgba(0, 0, 0, 0.05) 0px 1px 2px 0px inset;
                border: 1px solid rgba(0, 0, 0, 0.05);
                opacity: 1;
                z-index: 0;
            }
        }

        .cardContent {
            display: flex;
            flex-direction: column;
            gap: 2rem;
            position: relative;
            pointer-events: none;
            transition: transform 0.2s;
            z-index: 2;
        }
    }
}