@import "../../colors.scss";

.root {
    position: relative;
    display: grid;
    grid-template-columns: .6fr 1fr;
    align-items: center;
    gap: 2rem;
    padding: 2.5rem;
    border-radius: 1.2rem;
    box-shadow: rgba(255, 184, 0, 0.4) 0px 5px, rgba(255, 184, 0, 0.3) 0px 10px, rgba(255, 184, 0, 0.2) 0px 15px, rgba(255, 184, 0, 0.1) 0px 20px, rgba(255, 184, 0, 0.05) 0px 25px;
    transition: all 0.3s;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.05);
    overflow: hidden;

    .blurDecoration1,
    .blurDecoration2,
    .blurDecoration3 {
        position: absolute;
        width: 500px;
        height: 500px;
        opacity: 0.7;

        &.blurDecoration1 {
            top: 200px;
            left: -150px;
            background: radial-gradient(50% 50% at 50% 50%, rgba(255, 184, 0, 0.1) 0%, rgba(255, 255, 255, 0) 100%);
        }

        &.blurDecoration2 {
            left: 500px;
            top: 50px;
            background: radial-gradient(50% 50% at 50% 50%, rgba(255, 122, 0, 0.1) 0%, rgba(255, 255, 255, 0) 100%);
        }

        &.blurDecoration3 {
            left: 750px;
            top: -50px;
            background: radial-gradient(50% 50% at 50% 50%, rgba(255, 184, 0, 0.1) 0%, rgba(255, 255, 255, 0) 100%);
        }
    }

    .dataWrapper {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;

        .data {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
            align-items: center;
            gap: 1rem;
            margin-top: auto;
            &>div {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 0.5rem;
                padding: 1rem;
                text-align: center;
                background: #FFFFFF;
                box-shadow: rgba(0, 0, 0, 0.05) 0px 20px 40px 0px, rgba(0, 0, 0, 0.05) 0px 1px 2px 0px inset;
                border: 1px solid rgba(0, 0, 0, 0.05);
                border-radius: 0.6rem;
                cursor: pointer;
                transition: transform 0.15s;
                z-index: 1;
                &:hover {
                    transform: translateY(-10px)
                }
            }
        }
    }

    .chart {
        width: 100%;
    }
}

@media (max-width: 992px) {
    .root {
        grid-template-columns: 1fr;
        padding: 1rem;
    }
}